<div class="app-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Personal Budget</a>
     
      <div>
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" [routerLink]="['/login']" *ngIf="!isLoggedIn" aria-label="Login to your account">Login</a>
          <a class="nav-link" [routerLink]="['/register']" *ngIf="!isLoggedIn" aria-label="Register for a new account">Register</a>
          <a class="nav-link" (click)="logout()" *ngIf="isLoggedIn" aria-label="Logout of your account">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" opened="true" *ngIf="isLoggedIn" role="navigation">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active-link" >Dashboard</a>
        <a mat-list-item [routerLink]="['/budgets']" routerLinkActive="active-link">Budgets</a>
        <a mat-list-item [routerLink]="['/expenses']" routerLinkActive="active-link">Expenses</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Main content -->
        <div class="container-fluid g-0 vh-100">
          <router-outlet></router-outlet>
        </div>
        
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
<footer class="footer bg-dark text-white">
  <mat-toolbar class="bg-dark text-white">
    <div class="container d-flex justify-content-around">
      <span>© Personal Budget</span>
      <span class="ml-auto">Created by Trish Bandhekar
        
      </span>
    </div>
  </mat-toolbar>
</footer>

