<section id="home" class="container-fluid text-center d-flex flex-column justify-content-around align-items-stretch py-4">
 
        <h1 class="fs-40">Welcome to Personal Budget</h1>
        <p style="font-size: 18px;">Manage your budget effectively and efficiently.</p>
        <div>
            <button mat-raised-button>Get Started</button>
        </div>
    
</section>

<!-- Features Overview -->
<section id="features" class="container-fluid text-center  pt-5">
        <h2>Features</h2>
        <p>Take Control of Your Finances with Our Personal Budgeting Application</p>

   
    <div class="d-flex justify-content-around py-5">
        <mat-card style="flex-basis: 75%;" class="mx-3">
            <mat-card-content>
                <h3 class="fw-bold">Budget Management</h3>
                <p class="fst-italic">Add, modify, and delete budgets easily.</p>
            </mat-card-content>
        </mat-card>
        <mat-card style="flex-basis: 75%;" class="mx-3">
            <mat-card-content>
                <h3 class="fw-bold">Expense Tracking</h3>
                <p class="fst-italic">Keep track of your expenses with detailed descriptions.</p>
            </mat-card-content>
        </mat-card>
        <mat-card style="flex-basis: 75%;" class="mx-3">
            <mat-card-content>
                <h3 class="fw-bold">Useful Visuals</h3>
                <p class="fst-italic">Beautiful visualizations showing your spends at a glance.</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials" class="px-3">
    <div class="container text-center pt-5">
        <h2>What Our Users Say</h2>
    </div>
    
    <mat-tab-group class="justify-content-around py-5" headerPosition="below">
        <mat-tab label="John Doe" >
            <p class="px-5 pb-3">This app has been a game-changer for my family's finances. The intuitive design made it easy to track our spending and stay on budget. Highly recommended for anyone looking to take control of their financial health!</p>
        </mat-tab>
        <mat-tab label="Alex Martinez" class="px-5 pt-3">
            <p class="px-5 pb-3">As a freelancer, managing my finances has always been a challenge. This application not only simplified the process but also provided valuable insights into my spending habits. It's an essential tool for anyone who wants to make smarter financial decisions.</p>
        </mat-tab>
        <mat-tab label="Emma Patel" class="px-5 pt-3">
            <p class="px-5 pb-3">I've tried many budgeting tools, but this one stands out with its user-friendly interface and powerful features. It has helped me to significantly cut down on unnecessary expenses and save more. A must-have for anyone serious about budgeting</p>
        </mat-tab>
      </mat-tab-group>
      
</section>







<!-- FAQ Section -->
<section id="faqs" class="container-fluid text-center pt-5 px-3">
    <div class="pb-5">
        <h2>Frequently Asked Questions</h2>
        <!-- FAQ Content -->
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    How do I create a new budget in the app?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Creating a new budget is easy! Just click on the 'Add Budget' button on the dashboard, fill in the details like budget name, amount, and category, and hit 'Save'. Your new budget will be ready to use immediately.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Can I track expenses in different currencies?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Currently, only USD is supported. But in the future, we will introduce different currencies</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Is my financial data secure with this app?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Security is our top priority. We use industry-standard encryption and security practices to ensure that all your financial data is stored securely and remains confidential.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    What happens if I go over my budget?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>If you exceed your budget, the app will notify you based on the alert settings you've chosen. You can then review your expenses and adjust your budget or spending as needed.</p>
            </mat-expansion-panel>
              
    
          </mat-accordion>
    </div>
   
      
</section>