
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="pb-2">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="login()">
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email" name="email" placeholder="Enter your email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" type="password" name="password" placeholder="Enter your password">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" type="submit">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
  </div>
  